* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
    height: 200px;
}

.blur {
    filter: blur(10px);
}

.brightness {
    filter: brightness(50%);
}

.contrast {
    filter: contrast(50%);
}

.grayscale {
    filter: grayscale(100%);
}

.opacity {
    filter: opacity(20%);
}

.saturete {
    filter: saturate(200%);
}

.sepia {
    filter: sepia(70%);
}

.huerotate {
    filter: hue-rotate(90deg);
}

.dropshadow {
    filter: drop-shadow(10px 10px 10px #000);
}

.allfilter {
    filter: sepia(80%) drop-shadow(10px 10px 10px #000) saturate(200%);
}